<div class="merchant_detail_container">
  <div class="merchant_details">
    <%= image_tag(merchant.photo_url, class: 'merchant_pic') %>
    <div class="merchant_name"><%= merchant.name %></div>

    <div class="merchant_rating">
      <span><%= merchant.avg_rating %></span>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="time_slots">
    <div class="left">
      <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>

      <h3> Mon, 8thJun</h3>
      <ul>
        <li>22:10</li>
        <li>01:30</li>
      </ul>
    </div>
    <div class="left">
      <h3> Tue, 9thJun</h3>
      <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
      <ul>
        <li>05:30</li>
        <li>08:30</li>
        <li>12:10</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <button class="btn btn-primary btn-search" type="button">Show more times</button>
  </div>
  <div class="clearfix"></div>
</div>
<script>
  selected_date = new Date();
</script>