<ul class="nav navbar-right">
  <li><a href="javascript:void(0)" class="menu-item"> How it Works </a></li>
  <li><a href="javascript:void(0)" class="menu-item"> How Do I Benefit </a></li>
  <%= render partial: 'common/user_notification' %>
  <li><a href="javascript:void(0)" class="menu-item">
    <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
  </a></li>
  <%= render partial: 'common/search_form' %>
</ul>